body {
	margin: 0;
	font-family: 'Fredoka', sans-serif;
	background-color: #5580d0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #05193f;
	padding: 1rem;
	background: linear-gradient(135deg, #05193f, #17657b);
	position: sticky;
	top: 0;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.navbar-left {
	display: flex;
}

.navbar-item {
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin-right: 20px;
}


.navbar-item:hover {
	text-decoration: underline;
}

.navbar-right {
	display: flex;
}

.upload-button {
	background-color: #05193f;; /* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	display: flex;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
}

.upload-button:hover {
	background-color: #2692b0;
}

.image-container {
	/* align-self: center; */
	display: flex; /* Use flexbox for alignment */
	flex-direction: column; /* Stack items vertically */
	align-items: center; /* Center items horizontally */
	justify-content: center;
	gap: 6px;
	margin-top: 10px;
}

.image-wrapper {
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 40vw;
	max-height: 96%;
	overflow: hidden;
	background-color: #05193f;
	padding: 5px;
	border: 6px solid #2692b0;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	align-self: center;
	position: relative;
}

.image-box {
	width: 40vw; /* Set the size of each image */
	height: auto;
	border-radius: 8px;
}


.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100000000; /* Ensure it's on top */
}
.modalImage {
	max-width: 100%; /* Responsive to the wrapper */
	max-height: 80vh; /* Limit height to 80% of the viewport height */
	width: auto; /* Allow width to adjust */
	/* height: 80vh; */
	object-fit: contain;
	border-radius: 8px;
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 96%;
	overflow: hidden;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: #05193f;
	border: 6px solid #2692b0;
	border-radius: 10px;
}

.deleteButton {
	background-color: #ff4d4d;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 3px 5px;
	font-size: 16px;
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity 0.3s;
	top: 10px;
	right: 7px;
	display: flex;
}

.image-wrapper:hover .deleteButton {
	opacity: 1;
}

.deleteButton:hover {
	background-color: #ff1a1a;
}

.drop-zone {
	width: 300px;
	height: 60px;
	border: 2px dashed #007bff;
	text-align: center;
	padding: 20px;
	margin: auto;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	border: 2px dashed #ccc;
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.drop-zone.dragover {
	background-color: #0a3484;
}
