body {
	margin: 0;
	font-family: 'Fredoka', sans-serif;
	background-color: #5580d0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #05193f;
	padding: 1rem;
	background: linear-gradient(135deg, #05193f, #17657b);
	position: sticky;
	top: 0;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.navbar-left {
	display: flex;
}

.navbar-item {
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin-right: 20px;
}


.navbar-item:hover {
	text-decoration: underline;
}

.navbar-right {
	display: flex;
}

.upload-button {
	background-color: #05193f;; /* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	display: flex;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
}

.upload-button:hover {
	background-color: #2692b0;
}

.image-container {
	/* align-self: center; */
	display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

.image-wrapper {
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 40vw;
	max-height: 96%;
	overflow: hidden;
	background-color: #05193f;
	padding: 5px;
	border: 6px solid #2692b0;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	align-self: center;
}

.image-box {
	width: 40vw; /* Set the size of each image */
	height: auto;
	border-radius: 8px;
}
