/* components/ImageModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000000; /* Ensure it's on top */
}

.modalContent {
    position: relative;
    max-width: 90%; /* Limit max width */
    max-height: 96%; /* Limit max height */
	overflow: hidden;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.imageWrapper {
    width: 100%; /* Full width of modal */
    height: auto; /* Maintain aspect ratio */
    padding: 5px;
    border: 6px solid #2692b0; /* Add a colored border */
    border-radius: 10px;
    background-color: #05193f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalImage {
    max-width: 100%; /* Responsive to the wrapper */
    max-height: 80vh; /* Limit height to 80% of the viewport height */
    width: auto; /* Allow width to adjust */
    height: 80vh; /* Maintain aspect ratio */
	object-fit: contain;
    border-radius: 8px;
}